@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to right,#17FDE6,#14C0E3);
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(13, 13, 246, 0.53);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1453E3;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(13, 13, 246, 0.336);
}

h2 {
    color: #1453E3
}

p {
    text-align: justify;
}